body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    color: pink;
}

.techie {
    padding: 200px 0;
    margin: 32px;
    font-family: 'Palatino', sans-serif;
}

p {
    font-size: 3rem;
 
}

#header {
    color : yellow
}

